/* .image_database_acceuil{
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;

}

.card_movie_container{
    padding: 4px;
    background: black;
    width: 400px;
    border-radius: 30px;
    border: 1px solid rgb(14, 6, 6);
    font-family: cursive;
    font-size: 20px;
} */

.card_bootstrap {
    transition: transform .1s;
    background: rgb(53, 110, 184);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.5s;


}

.card_bootstrap_img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card_movie_light {
    background: rgb(88, 114, 150);

}

.card_movie_dark {
    background: rgb(149, 93, 245);

}


.card_container_light {
    width: 50%;
    border-radius: 10px;
    padding: 3%;
    border: 3px solid black;
    margin: auto;
}

.card_bootstrap:hover {
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
transition: 0.5s;
}

.card_bootstrap_button {
    background: rgb(255, 196, 0);
    color: rgb(0, 0, 0);
}

.card_bootstrap_button:hover {
    background: rgb(255, 94, 0);
    color: rgb(0, 0, 0);
    /* transition: 'ease-in-out'; */
}

.carousel {
    background: rgb(17, 74, 121);

}