.card_author_container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: rgb(72, 38, 151);
    color: rgb(0, 0, 0);
    font-family: cursive;
    width: 30%;
    border-radius: 10px;
    border: 2px solid rgb(14, 6, 6);
    margin: 10px;
    color: white;
}          


.card_author {
    background: rgb(80, 6, 252);
}